services:
  pelacli:
    container_name: pelacli
    image: pelagosnetwork/pelacli:latest
    working_dir: /app
    volumes:
      - ./data:/app/data
      # Uncomment to use custom config:
      # - ./pelacli.yaml:/app/pelacli.yaml
    ports:
      - "8081:8081" #Default API-port, Use config to change
    command:
      - consensus
      # Uncomment to use custom config:
      # - --config=/app/pelacli.yaml

  appchain:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    pid: "service:pelacli"
    image: appchain:latest
    volumes:
      - ./data:/app/data
      # Uncomment to use custom config:
      # - ./config.yaml:/app/config.yaml
    ports:
      - "9090:9090"
      - "8080:8080"
    depends_on:
      - pelacli
    # Uncomment to use custom config:
    # command:
    #   - -config=/app/config.yaml

  explorer:
    image: pelagosnetwork/explorer:latest
    ports:
      - "3000:3000"
    environment:
      - RPC_URL=http://localhost:8080/rpc
      - EXTERNAL_RPC_URL=http://localhost:8081/rpc
    depends_on:
      - appchain
      - pelacli
